<mat-tab-group>
  <mat-tab label="Tasks">
    <div>
      <mat-form-field>
        <input class="input-task" matInput type="text" placeholder="New task" name="task_name" formControlName="task_name" #task_name />
      </mat-form-field>

      <button mat-button (click)="addTask(task_name.value)">Add</button>
    </div>

    <ul *ngIf="tasks">
      <div class="d-flex tasks" *ngFor="let task of tasks ">
        <tr>
          <div class="task-name">
            <td>{{task.name}}</td>
          </div>
            <td><button mat-button  ng-click="getvalue($event)" (click)="updateTask(task.id)">{{task.status}}</button></td>
            <td><button mat-button (click)="deleteTask(task.id)">Delete</button></td>
        </tr>
      </div>
    </ul>
  </mat-tab>
  <mat-tab label="Reports">
    <mat-form-field>
      <input matInput type="text" value="created"/>
      <input matInput type="text" #qtdCreated (ngModel)="qtdCreated"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" value="done" />
      <input matInput type="text" #qtdDone (ngModel)="qtdDone"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" value="pending" />
      <input matInput type="text" #qtdPending (ngModel)="qtdPending"/>
    </mat-form-field>
    
    <div class="div-pie-chart">
      <input matInput type="text" value="Created x Done Tasks"/>
      <canvas class="pie-chart" baseChart
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>

  </mat-tab>
</mat-tab-group>

